[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uplink = "*"
pytest = "*"
pytest-xdist = "*"
allure-pytest = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.11"
